<div class="center-container">
    <div class="center-content">              
        <h1>Change Log</h1>
        <ul>
            <li>Aug 1, 2016 - Initial Release</li>
     
            <li>Sept 26, 2016 - Updated descriptions and references</li>
     
            <li>Sept 29, 2016 - Added search functionality to the website.</li>
            <li>Oct 8, 2016 - Updated descriptions and references</li>
            <li>Oct 12, 2016 - Updated database online and zip file</li>
            <li>Dec 1, 2016 - Headers and annotations updated to identify the sequences that require SNP confirmation for functional resistance</li>
        </ul>        
    </div>
</div>
