<div class="center-container">
    <div class="center-content">              
        <h2>Download MEGARes Files or <a routerLink="/browse">Search</a> by Keyword or Annotation Header</h2>
        <p>Version 2.0.0 (14 October 2019)</p>
        <ul>
        <li><a href="megares_v2.00/megares_full_database_v2.00.fasta">All Sequences</a> (.fasta)</li>
        <li><a href="megares_v2.00/megares_full_annotations_v2.00.csv">Annotations</a> (.csv)</li>
        <li><a href="megares_v2.00/megares_full_annotations_with_notes_v2.00.csv">Annotations with notes</a> (.csv)</li>
        <li><a href="megares_v2.00/megares_to_external_header_mappings_v2.00.csv">Mapping</a> (.csv)</li>
        <li><a href="megares_v2.00/megares_drugs_database_v2.00.fasta">Drug resistance sequences</a> (.fasta)</li>
        <li><a href="megares_v2.00/megares_drugs_annotations_v2.00.csv">Drug resistance Annotations</a> (.csv)</li>
        <li><a href="megares_v2.00.zip">All Files</a> (.zip)</li>
        </ul>
        <p>Version 1.0.1 (1 December 2016)</p>
        <ul>
        <li><a href="megares_v1.01/megares_database_v1.01.fasta">All Sequences</a> (.fasta)</li>
        <li><a href="megares_v1.01/megares_annotations_v1.01.csv">Annotations</a> (.csv)</li>
        <li><a href="megares_v1.01/megares_to_external_header_mappings_v1.01.tsv">Mapping</a> (.tsv)</li>
        <li><a href="megares_v1.01.zip">All Files</a> (.zip)</li>
        </ul>
        <p>Version 1.0.0 (25 October 2016)</p>
        <ul>
        <li><a href="megares_v1.00/megares_database_v1.00.fasta">All Sequences</a> (.fasta)</li>
        <li><a href="megares_v1.00/megares_annotations_v1.00.csv">Annotations</a> (.csv)</li>
        <li><a href="megares_v1.00/megares_to_external_header_mappings_v1.00.tsv">Mapping</a> (.tsv)</li>
        <li><a href="megares_v1.00.zip">All Files</a> (.zip)</li>
        </ul>      
    </div>
</div>





